<% title "Rename Folder" %>
<%= render :partial => "home/breadcrumbs" %>

<%= render 'form' %>

<p>
<% if @folder.parent %>
  <%= link_to "Back to '#{@folder.parent.name}' Folder", browse_path(@folder.parent) %>
<% else %>
  <%= link_to "Back", root_url %>
<% end %>
</p>
